{% extends "emails/base.html" %}
{% block content %}
  <p style="margin:0 0 12px 0;">Hallo,</p>
  <p style="margin:0 0 12px 0;">du hast angefordert, dein BrainBoost-Passwort zurückzusetzen.</p>
  <p style="margin:0 0 12px 0;">
    Bitte nutze dafür diesen Link:
    <a href="{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}">
      {{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}
    </a>
  </p>
  <p style="margin:0 0 12px 0;">Wenn du diese Anfrage nicht gestellt hast, kannst du diese E-Mail ignorieren.</p>
  <p style="margin:0;">Viele Grüße<br />Dein BrainBoost-Team</p>
{% endblock %}
