{% extends "emails/base.html" %}
{% block content %}
  <p style="margin:0 0 12px 0;">Hallo {{ user.first_name|default:user.username }},</p>
  <p style="margin:0 0 12px 0;">dein BrainBoost-Konto wurde erstellt.</p>
  <p style="margin:0 0 12px 0;">
    Bitte setze dein Passwort über folgenden Link:
    <a href="{{ set_password_url }}">{{ set_password_url }}</a>
  </p>
  <p style="margin:0 0 12px 0;">Wenn du diese E-Mail nicht erwartet hast, kannst du sie ignorieren.</p>
  <p style="margin:0;">Viele Grüße<br />Dein BrainBoost-Team</p>
{% endblock %}
