{% extends "emails/base.html" %}
{% block content %}
<p>Hallo {{ lead_name }},</p>
<p>vielen Dank für dein Interesse an BrainBoost und die Zeit, die du in deine Bewerbung investiert hast.</p>
<p>Nach sorgfältiger Prüfung haben wir uns entschieden, deine Bewerbung derzeit nicht weiterzuverfolgen. Dein Profil passt aktuell leider nicht zu den Anforderungen, für die wir Unterstützung suchen.</p>
<p>Wir wissen dein Interesse sehr zu schätzen und wünschen dir für deinen weiteren Weg alles Gute. Wenn du Fragen zu unserer Rückmeldung hast, kannst du auf diese E-Mail antworten.</p>
<p>Viele Grüße<br>Dein BrainBoost-Team</p>
{% endblock %}
